*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: unset;
    text-decoration:none;
    box-sizing: border-box;
    color:#bbb;
    font-family: 'Roboto', sans-serif;
}
#main-page{
    background-color: #222;
    margin: 0;
    display: grid;
    width: 100vw;
    height:300vh;
    position: relative;
    overflow-x: hidden;
}

#home{
    height: 100vh;
    width: 100vw;
}
#hey_bg_text{
    top:10vh;
    left:20vw;
}
#greet{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:30vh;
    left:60%;
    z-index: 7;
    font-size:30px;
    width: 50vh;
}
#greet h1{
    margin:2px;
    position: relative;
    top:-17px;
    right:17px;
}
#description,#skills_description,#about_description{
    z-index: 7;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 60vh;
    right:40%;
    width: 55%;
    text-align: left;
    font-size: 20px;
}
#description p,#about_description p{
    margin:5px;
    position: relative;
    top:-20px;
    left:35px;
}

/*****************************about**********************************/
#about{
    height:100vh;
    position: relative;
}
#about_description{
    top:30%;
    left:2%;
    width:50%;
}
#about_bg_text{
    top:80%;
    left: -6vw;
}
#skills_description{
    top:55%;
    right:15%;
    width:auto;
}
#skills_description h1{
    font-size: 55px;
    padding: 0px 10px;
}
#skills_description ul{
    padding: 10px 10px
}
/*****************************Contact-me***********************/
#contact-me{
    width:100%;
    height:100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact-bg-text{
    top:150%;
    font-size:22vw;
}
#contact-links{
    width: 50%;
    position: absolute;
    top:15%;
    left:50%;   
}
.contact-link{
    background-color:rgba(0,0,0,0.8);
    width: 70%;
    margin: 8px 0px;
    font-size: 40px;
    height: 70px;
    cursor: pointer;
}
.contact-link:hover a{
    color:#888
}
.contact-link a{
    text-align: center;
    position: absolute;
    color:#333;
    font-weight: bold;
    margin: 10px;
}
.contact-link img{
    height: inherit;
    padding: 6px;
    background-color: #ff571a73;
}




@media(max-width:776px){
    #hey_bg_text{
        top:20vh;
        left:0vw;
        font-size:50vw;
    }
    #greet{
        top:15%;
        left:45%;
        z-index: 7;
        font-size:40px;
        width: 50vh;
    }
    #description{
        top: 60vh;
        right:45%;
        width: 55%;
        z-index: 11;
    }
    #about_description{
        top:25%;
        right: 0%;
        width:80%
    }
    #skills_description{
        top: 70vh;
        right:0%;
        width: 55%;
    }
    #about_bg_text{
        top:110%;
        left: -6vw;
    }
    #contact-links{
        width: 100%;
        left:0%;   
    }
    .contact-link{
        width: 100%;
    }
    #contact-bg-text{
        font-size: 25vw;
        top:2%;
        left:0%;
    }
}
@media(max-width:550px){
    #hey_bg_text{
        top:20vh;
        left:0vw;
        font-size:45vw;
    }
    #greet{
        top:12%;
        left: 40%;
        width: 60%;
        font-size:30px;
    }
    #description{
        top: 55vh;
        right:45%;
        width: 60%;
        z-index: 11;
    }
    #about_description{
        top:18%;
        left: -5%;
        width:90%;
        font-size:18px;
    }
    
    #skills_description{
        font-size:18px;
        top: 61vh;
        right:0%;
        width: 75%;
    }
    #about_bg_text{
        top:-2%;
        left: -2vw;
    }
    #contact-me{
        height:80vh;
    }
    #contact-links{
        top:25%;
        }
}