*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration:none;
    box-sizing: border-box;
    color:rgba(255,255,255,0.75);
    font-family: 'Roboto', sans-serif;
}
.bg_lines{
    height: inherit;
    width: 100vw;
    z-index: -10;
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.bg_lines div{
    z-index: -10;
    height: 100%;
    border-left: 1.5px #000 solid;
    border-right: 0.5px #444 solid;
}
.big_text{
    position: absolute;
    z-index: -10;
    font-weight: bolder;
    color: rgba(255,255,255,0.1);
    font-size: 35vw;
}
.orange{
    background-color: #ff571aa1;
    background-clip: text;
    -moz-background-clip: text;
    font-weight: 100;
    font-style: italic;
    text-decoration:underline;
}
#cir2{
    z-index: -12;
    height:9vw;
    width: 9vw;
    background-color: #ff571a73;
    position: absolute;
     top:65%;
     left:30%;
}
#cir2 div{
    height: 9vw;
    width: 9vw;
    border: .8vw #222 solid;
    border-radius: 50%;
    position: relative;
    top:10%;
    right:10%;
}
#sqr1{
    z-index:-12;
    height:8vw;
    width: 8vw;
    background-color: transparent;
    border: .7vw solid #ff571a73;
    position: absolute;
     top:80vh;
     right:14vh;
}
#cir1{
    z-index: -12;
    height:9vw;
    width: 9vw;
    background-color: transparent;
    border: 2vw solid #ff571a73;
    border-radius: 50%;
    position: absolute;
     top:24vh;
     left:10vh;
}
#cross1{
    z-index: -12;
    height:8vw;
    width: 8vw;
    background-color: #ff571a73;
    font-size: 9vw;
    color: #222;
    font-weight: bolder;
    position: absolute;
     top:15vh;
     right:35vh;
}
@media(max-width:776px){
    #cir1{
        height:15vw;
        width: 15vw;
        background-color: transparent;
        border: 4vw solid #ff571a73;
    }
    #sqr1{
        height:15vw;
        width: 15vw;
        border: 4vw solid #ff571a73;
         top:65vh;
    }
    #cross1{
        height:10vw;
        width: 10vw;
        font-size: 11vw;   
    }
    #cir2{
        height:15vw;
        width: 15vw;
        background-color: #ff571a73;
        position: absolute;
         top:70%;
         left:33%;
    }
    #cir2 div{
        height: 15vw;
        width: 15vw;
        border: 3vw #222 solid;
    }
}